button {
    background-color: #5e1212;
    color: #fff;
    font-family: arial;
    border-radius: 0.4rem;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #970000;
}